.glyphicon-earphone {
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  left: 10px;
  color: gray;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-earphone:before {
  content: "\e182";
}
body {
	font-family: 'pantonregular';
	font-size: 15px;
	color: #000;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.row.fix {
	margin: 0;
}

img {
	max-width: 100%;
}
p {
	margin-bottom: 0;
	margin-top: 17px;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	text-decoration: none;
}
a:active {
	box-shadow: none;
}
b {
	font-family: 'pantonbold';
}
ul {
	margin: 0;
	padding: 0;
}
label {
	font-weight: normal;
}
.header-top {
	padding: 40px 0 28px 0;
}
.logo {
	width: 215px;
	height: 53px;
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
	margin-top: -10px;
}
.logo a {
	display: block;
}
.city {
	color: #0487cf;
	cursor: pointer;
	display: inline-block;
	width: 100px;
	margin-right: 39px;
	vertical-align: middle;
	position: relative;
	z-index: 3;
}
.city span {
	border-bottom: 1px dashed #0487cf;
	position: relative;
}
.city > span:before {
	content: "";
	background: url(../img/sprite.png) 0 0 no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
}
.other-city {
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff;
	padding: 10px;
	display: none;
}
.city .other-city span {
	border-bottom: 1px solid transparent;
	display: block;
}
.city .other-city span:hover {
	border-bottom: 1px dashed #0487cf;
}
.city.active .other-city {
	display: block;
}
.phones {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.phone {
	display: inline-block;
	width: 180px;
	margin-right: 26px;
	vertical-align: middle;
	font-size: 18px;
}
.phone span {
	display: block;
}
.phone a {}
.phone-notice {
	font-size: 15px;
	font-family: 'pantonlight';
}
.mail {
	margin-right: 20px;
	position: relative;
}
.mail:before {
	content: "";
	position: absolute;
	left: -18px;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
	height: 11px;
	background: url(../img/sprite.png) -24px 0 no-repeat;
}
.btn {
	color: #fff;
	height: 50px;
	border-radius: 30px;
	text-align: center;
	line-height: 50px;
	padding: 0 30px;
	display: inline-block;
	outline: none;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.btn:hover {
	text-decoration: none;
}
.btn-orange {
	background: #ff5500;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.btn-orange:hover {
	background: #e14a00;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.header-top .btn {
	float: right;
	margin-top: -5px;
}
.header .menu {
	height: 50px;
	background: #007cbc;
	border: none;
}
.header .menu ul {
	font-size: 0;
}
.header .menu li {
	display: inline-block;
	position: relative;
	line-height: 50px;
	font-size: 15px;
}
.header .menu li:last-child {
	margin-right: 0;
}
.header .menu li a {
	color: #fff;
	padding: 0 18.9px;
	display: block;
}
.header .menu li a:hover {
	text-decoration: none;
    background: #284a76;
    box-shadow: 0 -2px 0 0 #e74530, 0 1px 0 0 #e74530 inset;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.header .menu li a.hot {
	padding-left: 37px;
}
.header .menu li a.hot:before {
	left: 18.9px;
}
.header .menu li.submenu ul {
	position: absolute;
	background: #007cbc;
	padding: 10px;
	left: 0;
	top: 100%;
	white-space: nowrap;
	display: none;
}
.header .menu li.submenu.active ul {
	display: block;
}
.header .menu li.submenu li {
	margin-right: 0;
	display: block;
	line-height: normal;
	margin-bottom: 10px;
}
.header .menu li.submenu li:last-child {
	margin-bottom: 0;
}
.header .menu .more {
	position: relative;
	padding-right: 20px;
}
.header .menu .more:before {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/sprite.png) -84px 0 no-repeat;
	width: 14px;
	height: 7px;
}
.breadcrumbs {
	margin: 20px 0;
	font-family: 'pantonlight';
	font-size: 13px;
}
.breadcrumbs .row > div {
	display: inline-block;
	margin-right: 3px;
	position: relative;
}
.breadcrumbs .row > div:after {
	content: "-";
	margin-left: 3px;
}
.breadcrumbs .row > div:last-child:after {
	display: none;
}
.breadcrumbs a {
	text-decoration: underline;
}
.breadcrumbs a:hover {
	text-decoration: none;
}
.wrapper {
	padding-top: 36px;
}
.sidebar-wrap {
	margin-right: 15px;
	background: #fff;
}
.sidebar {
	border: 1px solid #e1e1e1;
}
.sidebar-tour-title {
	padding: 17px 45px;
	margin-bottom: 25px;
	font-size: 24px;
	color: #fff;
	background: #3d4454;
	font-family: 'pantonbold';
}
.sidebar-city-tour ul {
	padding: 0 35px 32px 47px;
	list-style-type: none;
}
.sidebar-city-tour ul li {
	margin-bottom: 12px;
}
.sidebar-city-tour ul li:last-child {
	margin-bottom: 0;
}
.sidebar-tour-subtitle {
	padding: 16px 40px 16px 45px;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 13px;
	background: #f7f8fd;
	font-family: 'pantonbold';
}
.sidebar-city-tour > a:hover {
	text-decoration: none;
}
.sidebar-city-tour .btn-rest-tours {
	border: 1px solid #7f7f7f;
	border-radius: 5px;
	display: inline-block;
	padding: 5px 16px;
	margin: -6px 24px 21px 24px;
	width: 230px;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.sidebar-city-tour .btn-rest-tours:hover {
	text-decoration: none;
	background: #3d4454;
	color: #ffffff;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.new-year-icon {
	position: relative;
}
.new-year-icon:before {
	content: "";
	width: 13px;
	height: 20px;
	position: absolute;
	left: -18px;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/sprite.png) -38px 0 no-repeat;
}
.sidebar-notice {
	padding: 0 12px;
	margin-top: 22px;
	color: #999999;
}
.tour-preview-wrap {
	padding-bottom: 7px;
}
.tour-preview {
	width: 500px;
	margin-top: 46px;
	padding-left: 15px;
	margin-bottom: 30px;
}
h1 {
	font-size: 48px;
	font-family: 'pantonbold';
	margin: 0;
	margin-bottom: 13px;
}
h2 {
	font-size: 48px;
	font-family: 'pantonbold';
	margin: 0;
	margin-bottom: 13px;
}
.info-company-title {
	margin: 0;
	font-size: 36px;
	font-family: 'pantonbold';
	margin-bottom: 25px;
}
.tour-preview-desc {
	font-size: 19px;
	font-family: 'pantonlight';
}
.tour-preview .btn {
	color: #000;
	margin-top: 35px;
}
.btn-yellow {
	background: #fde40e;
}
.btn-yellow:hover {
	background: #eed50e;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.tour-filter {
	background: #007cbc;
	margin-top: 10px;
	color: #fff;
	padding: 25px 15px 5px 15px;
}
.tour-filter-item {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
	width: 272px;
	margin-bottom: 30px;
	position: relative;
}
.tour-filter-item label {
	display: block;
	margin-bottom: 5px;
}
.tour-filter-item label span {
	background: #fff;
	font-size: 9px;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	line-height: 15px;
	color: #000;
	cursor: pointer;
	padding-left: 4px;
	margin-left: 2px;
}
.tour-filter-item input {
	height: 40px;
	width: 100%;
	padding: 0 13px;
	border: none;
	color: #000;
}
.tour-filter-item.time-mob {
	margin-right: 0;
}
.tour-filter-item.time-mob .jq-selectbox {
	width: 49%;
}
.jq-selectbox__select {
	height: 40px;
	border: none;
	box-shadow: none;
	line-height: 40px;
	border-radius: 0;
	background: #fff;
}
.jq-selectbox__trigger-arrow {
	top: 50%;
	transform: translateY(-50%);
}
.jq-selectbox__trigger {
	border-left: none;
}
.jq-selectbox__dropdown {
	border-radius: 0;
	bottom: auto !important;
	top: 100%;
}
.jq-selectbox__select:hover,
.jq-selectbox__select:active {
	background: #fff;
	box-shadow: none;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: none;
}
.tour-filter-item.category {
	width: 180px;
}
.tour-filter-item.category .jq-selectbox {
	width: 100%;
}
.tour-filter-item.value input {
	width: 49%;
}
.tour-filter-more {
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 10px;
	color: #fff;
}
.tour-filter-more:hover {
	text-decoration: none;
}
.tour-filter-more span {
	border-bottom: 1px dashed #fff;
}
.tour-filter .btn {
	border: none;
	padding: 0 20px;
}
.btn-blue {
	background: #42b0eb;
}
.btn-blue:hover {
	background: #099fea;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.popular-tours {
	margin-top: 30px;
}
.title {
	font-size: 24px;
	margin-bottom: 15px;
	font-family: 'pantonbold';
}
.title span {
	border-bottom: 1px dashed #000;
}
.title a:hover span {
	border-bottom: none;
}
.title a:hover {
	text-decoration: none;
}
.title b {
	display: inline-block;
	width: 13px;
	height: 7px;
	background: url(../img/arrow-black.png) 0 0 no-repeat;
	vertical-align: baseline;
}
.popular-tours-items table {
	width: 100%;
	border-collapse: collapse;
}
.popular-tours-items td {
	width: 50%;
	border: 1px solid #e0e2e1;
}
.popular-tours-item {
	display: block;
	height: 222px;
	padding: 15px 15px 30px 25px;
	position: relative;
	webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.popular-tours-item:hover {
	background-color: rgba(0, 0, 0, 0.5);
	webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.popular-tours-item img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.popular-tours-item:hover {
	text-decoration: none;
}
.popular-tours-item.big {
	height: 445px;
}
.popular-tours-item.small {
	height: 195px;
	text-align: center;
	padding: 58px 20px 20px 20px;
}
.popular-tours-item.small:hover {
	background: none;
}
.popular-tours-item .price {
	float: right;
	width: 110px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	font-size: 16px;
	font-weight: 600;
	background: #fde40e;
}
.popular-tours-item .price span {
	text-transform: uppercase;
	font-size: 12px;
}
.popular-tours-item-cont {
	position: absolute;
	bottom: 30px;
	max-height: 130px;
	overflow: hidden;
	color: #fff;
	padding-right: 15px;
}
.popular-tours-item.big .popular-tours-item-cont {
	max-height: 340px;
}
.popular-tours-item-title {
	font-size: 24px;
	font-family: "pantonbold";
}
.popular-tours-item.big .popular-tours-item-title {
	font-size: 36px;
}
.popular-tours-item.small .popular-tours-item-title {
	font-size: 21px;
	color: #fff;
	margin-bottom: 20px;
	position: relative;
}
.popular-item-phone {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.popular-tours-item.small form input {
	height: 45px;
	padding: 0 24px;
	padding-left: 30px;
	border-radius: 5px;
	border: none;
	font-size: 15px;
	font-family: 'pantonlight';
	vertical-align: middle;
}
.popular-tours-item.small form .btn {
	border-radius: 30px;
	margin-left: 5px;
	line-height: 45px;
	padding: 0 30px;
}
.popular-tours-item.small span {
	font-size: 25px;
	color: #fff;
	background: #000;
}
.popular-tours-item.small span.orange {
	background: #ff5503;
	padding: 0 10px;
	font-family: 'pantonbold';
}
.burning-tours {
	margin-top: 40px;
}
.burning-tours-items-wrap {
	overflow: hidden;
}
.burning-tours-items {
	overflow: hidden;
	margin-right: -8px;
}
.burning-tours-items > div {
	margin-bottom: 12px;
	padding-right: 23px;
}
.burning-tours-item {
	border: 1px solid #e1e1e1;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.burning-tours-item-img {
	width: 100%;
	height: 150px;
	position: relative;
	border-bottom: 1px solid #e1e1e1;
}
.burning-tours-item-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	max-height: 100%;
}
.burning-tours-item-img > span {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	height: 39px;
	line-height: 39px;
	color: #fff;
	width: 100%;
	padding: 0 20px;
	background: rgba(0, 0, 0, 0.75);
	font-family: 'pantonbold';
}
.burning-tours-item-img > span > span {
	text-transform: uppercase;
}
.burning-tours-item-desc {
	padding: 12px 15px;
	text-align: center;
}
.burning-tours-item-desc span,
.burning-tours-item-desc b {
	display: block;
	text-align: left;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.burning-tours-item-desc > a {
	text-decoration: underline;
}
.burning-tours-item-desc .btn {
	height: 45px;
	line-height: 45px;
	width: 100%;
	margin: 15px 0 10px 0;
	text-decoration: none;
}
.burning-tours-filter {
	margin-bottom: 24px;
	border: 1px solid #e0e2e1;
	display: inline-block;
	font-size: 0;
}
.burning-tours-filter a {
	display: inline-block;
	padding: 0 29px;
	border-right: 1px solid #e0e2e1;
	height: 44px;
	line-height: 44px;
	font-family: 'pantonlight';
	font-size: 17px;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.burning-tours-filter a:last-child {
	border-right: none;
}
.burning-tours-filter a:hover,
.burning-tours-filter a.active {
	text-decoration: none;
	background: #007cbc;
	color: #fff;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.btn-more-tours {
	display: block;
	height: 48px;
	line-height: 48px;
	background: #007cbc;
	color: #fff;
	text-align: center;
	border: 1px solid transparent;
	padding: 0 20px;
	margin-top: 15px;
	font-size: 17px;
	font-family: 'pantonlight';
	webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.btn-more-tours:hover {
	text-decoration: none;
	color: #007cbc;
	background: #ffffff;
	border: 1px solid #007cbc;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.tours-notes {
	margin-top: 65px;
	overflow: hidden;
}
.tours-notes-items-wrap {
	overflow: hidden;
}
.tours-notes-items {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: -17px;
}
.tours-notes-items > div {
	margin-bottom: 20px;
	padding-right: 32px;
}
.tours-notes-item {
	border: 1px solid #e1e0de;
	display: block;
}
.tours-notes-item img {
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.tours-notes-item:hover img{
	opacity: 0.7;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
.tours-notes-item:hover {
	text-decoration: none;
}
.tours-notes-item-img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #e1e0de;
}
.tours-notes-item-img img {
	height: 100%;
	width: 100%;
}
.tours-notes-item-cont {
	padding: 25px 10px 23px 23px;
	font-family: 'pantonlight';
}
.tours-notes-item-cont b {
	font-size: 18px;
}
.tours-notes-item-cont p {
	margin-top: 9px;
}
.tours-notes-items-wrap .btn-more-tours {
	margin-top: 7px;
}
.popular-category {
	margin-top: 70px;
	overflow: hidden;
}
.popular-category-items {
	overflow: hidden;
	margin-right: -61px;
}
.popular-category-items > div {
	margin-bottom: 40px;
	text-align: center;
	padding-right: 76px;
}
.poular-category-item {
	display: inline-block;
}
.poular-category-item:nth-child(4n+4) {
	margin-right: 0;
}
.poular-category-item-img {
	height: 166px;
	border-radius: 50%;
	margin-bottom: 15px;
}
.clear {
	clear: both;
}
.seo-txt {
	margin-top: 90px;
	margin-bottom: 50px;
}
.seo-txt-btn {
	border-bottom: 1px dashed #000;
	margin-top: 20px;
	display: inline-block;
}
.seo-txt-btn:hover {
	text-decoration: none;
}
.seo-txt-more {
	display: none;
	margin-top: 15px;
}
.subscription {
	background: #007cbc;
	color: #fff;
	padding: 40px 0;
}
.subscription-title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'pantonbold';
}
.subscription input,
.subscription .jq-selectbox {
	width: 435px;
	height: 40px;
	vertical-align: top;
	margin-right: 45px;
}
.subscription input,
.subscription .jq-selectbox__select {
	padding: 0 20px;
}
.subscription .btn {
	float: right;
	width: 170px;
	height: 45px;
	line-height: 45px;
	margin-right: 0;
	border: none;
	margin-top: -3px;
}
.info-company {
	margin-top: 70px;
}
.info-company .container {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.about-company {
	padding-right: 85px;
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid #e1e1e1;
}
.about-company p {
	margin-top: 37px;
}
.about-company >:nth-child(2) {
	margin-top: 17px;
}
.news-company {
	padding-left: 80px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.news-company-item {
	display: block;
	margin-bottom: 18px;
}
.news-company-item b {
	display: block;
}
.news-company-item span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
}
.about-company ul {
	margin-top: 14px;
	padding-left: 18px;
}
.news-company > a {
	color: #0288d1;
	text-decoration: underline;
}
.news-company > a:hover {
	text-decoration: none;
}
.news-company-item:hover span {
	text-decoration: underline;
}
.partners {
	margin-top: 60px;
	overflow: hidden;
}
.partners .container {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 60px 0;
	overflow: hidden;
}
.partners-items {
	margin-right: -88px;
	overflow: hidden;
}
.partners-items > div {
	padding-right: 103px;
}
.partners-item {
	height: 80px;
	display: inline-block;
	vertical-align: middle;
}
.sitemap {
	margin: 50px 0;
}
.sitemap .container {
	overflow: hidden;
}
.sitemap-items {
	overflow: hidden;
	margin-right: -38px;
}
.sitemap-items > div {
	padding-right: 53px;
}
.sitemap-item {
	display: inline-block;
	vertical-align: top;
}
.sitemap-item ul {
	list-style-type: none;
}
.sitemap-item ul li {
	margin-bottom: 13px;
}
.link-blue {
	text-decoration: underline;
	color: #0588ce;
}
.link-blue:hover {
	text-decoration: none;
}
.sitemap .title {
	margin-bottom: 27px;
}
.sitemap-item .phone {
	margin-right: 0;
	margin-bottom: 10px;
}
.sitemap-item .mail {
	margin-right: 0;
	padding-left: 18px;
}
.sitemap-item .mail:before {
	left: 0;
}
.soc {
	margin-top: 15px;
}
.soc a {
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-right: 8px;
	border-radius: 50%;
}
.soc a:hover {
	filter: invert(1);
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}
.soc a:last-child {
	margin-right: 0;
}
.soc a.tw {
	background: url(../img/soc-sprite.png) 0 0 no-repeat;
}
.soc a.vk {
	background: url(../img/soc-sprite.png) -27px 0 no-repeat;
}
.soc a.fb {
	background: url(../img/soc-sprite.png) -54px 0 no-repeat;
}
.footer .container {
	padding: 40px 0 30px 0;
	border-top: 1px solid #e1e1e1;
	color: #666666;
}
.copyright {
	margin-right: 50px;
	display: inline-block;
	vertical-align: middle;
	width: 320px;
}
.letsfly {
	margin-right: 13px;
	width: 415px;
	display: inline-block;
	vertical-align: middle;
}
.letsfly-img {
	width: 194px;
	height: 39px;
	display: inline-block;
	vertical-align: middle;
}
.letsfly-desc {
	width: 217px;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
}
.footer-logo {
	width: 364px;
	display: inline-block;
	vertical-align: middle;
}
.footer-logo .logo {
	margin-right: 12px;
}
.footer-logo .letsfly-desc {
	width: 133px;
}
.jq-selectbox__trigger-arrow {
	border: 0;
	width: 14px;
	height: 7px;
	background: url(../img/select-arrow.png) 0 0 no-repeat;
}
a.dp-choose-date {
	width: 12px;
	height: 10px;
	display: block;
	background: url(../img/icon-date.png) no-repeat;
	position: absolute;
	right: 10px;
	bottom: 15px;
	overflow: hidden;
	text-indent: -9999px;
}
.hot {
	position: relative;
	padding-left: 20px;
}
.hot:before {
	content: "";
	width: 14.8px;
	height: 23px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/sprite.png) -51px 0 no-repeat;
}
.with-flag a {
	position: relative;
	padding-left: 22px;
}
.with-flag a:before {
	content: '';
	width: 18px;
	height: 12px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/sprite.png) -66px 0;
}
.page-russia {
	background: url(../img/bg-russia.jpg) 50% 0 no-repeat;
}
.tours-list-page {
	padding-top: 0;
}
.tours-list-page .tour-preview-wrap {
	background: url(../img/bg-tour-list.jpg) 0 0 no-repeat;
	padding-left: 35px;
	padding-top: 34px;
	padding-bottom: 40px;
}
.tours-sorting b {
    display: inline-block;
    width: 13px;
    height: 7px;
    background: url(../img/arrow-black.png) 0 0 no-repeat;
    vertical-align: baseline;
}
.sorting-btn {
	border: 1px solid #e1e1e1;
	color: #000;
	float: right;
	margin-top: -20px;
}
.sorting-btn:hover {
	color: #fff;
	background: #e1e1e1;
}
.search-completed-item {
	-webkit-box-shadow: 0px 6px 20px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 6px 20px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 6px 20px 0px rgba(50, 50, 50, 0.1);
	margin-bottom: 9px;
}
.search-completed-item-more {
	clear: both;
	overflow: hidden;
}
.search-completed-item-more.lock {
	display: none;
}
.search-completed-item-img span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 39px;
    line-height: 39px;
    color: #fff;
    width: 100%;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    text-decoration: underline;
}
.search-completed-item-img:hover span {
	text-decoration: none;
}
.search-completed-item-route span {
	position: relative;
}
.search-completed-item-route span:before {
	content: "";
	position: absolute;
	left: -13px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 11px;
	background: url(../img/sprite.png) -66px -12px no-repeat;
}
.search-completed {
	margin-top: 45px;
}
.search-completed:before,
.search-completed:after {
  content: "";
  display: table;
} 
.search-completed:after {
  clear: both;
}
.tours-sorting {
	margin-bottom: 25px;
}
.tours-sorting > a span {
	border-bottom: 1px dashed #000;
}
.tours-sorting > a:hover span {
	border-bottom: none;
}
.tours-sorting > a:hover {
	text-decoration: none;
}
.tours-sorting-items {
	background: #fff;
	display: none;
	margin-left: 95px;
	position: absolute;
	padding: 5px 20px;
	z-index: 2;
}
.tours-sorting-items.active {
	display: block;
}
.tours-sorting-items a {
	display: block;
}
.search-completed-items {
	clear: both;
}
.search-completed-item-preview {
	overflow: hidden;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px solid #e1e1e1;
    background: #f7f8fd;
    cursor: pointer;
}
.search-completed-preview-left {
	border-right: 1px solid #e1e1e1;
	padding: 25px 45px 15px 15px;
}
.search-completed-item-title {
	font-family: 'pantonbold';
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.search-completed-preview-left ul li {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	margin-right: 20px;
}
.search-completed-preview-left ul li:last-child {
	margin-right: 0;
}
.search-completed-preview-left ul li:before {
	content: "";
	width: 4px;
	height: 3px;
	border-radius: 50%;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.search-completed-item-price b {
	display: block;
}
.search-completed-preview-right {
	padding: 19px;
}
.search-completed-preview-right .btn {
	padding: 0 15px;
	width: 104px;
}
.search-completed-item-price {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.search-completed-preview-right .btn-orange {
	margin-right: 4px;
}
.search-completed-item-preview .row,
.search-completed-item-preview .row > div {
	height: 100%;
}
.search-completed-item-more-right {
	padding: 15px 46px 20px 15px;
}
.search-completed-item-route {
	padding-left: 13px;
	margin-bottom: 15px;
}
.search-completed-item-date {
	margin-bottom: 22px;
}
.search-completed-item-date a {
	display: inline-block;
	/*width: 55px;*/
	height: 33px;
	padding: 0 10px;
	border: 1px solid #e1e1e1;
	border-radius: 30px;
	text-align: center;
	line-height: 33px;
	margin-right: 5px;
}
.search-completed-item-date a:hover {
	text-decoration: none;
}
.search-completed-item-date a.green {
	color: #19af00;
}
.search-completed-item-date a.red {
	color: #ff0202;
}
.search-completed-item-date a.all-dates {
	width: 134px;
	margin-right: 0;
	margin-left: 11px;
}
.search-completed-item-date a.all-dates b {
	margin-left: 5px;
	vertical-align: bottom;
}
.search-completed-item-more {
	overflow: hidden;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px solid #e1e1e1;
    border-top: none;
}
.search-completed-item-more .row {
	height: 100%;
}
.search-completed-item-img {
	border-right: 1px solid #e1e1e1;
	height: 100%;
	display: block;
}
.search-completed-item-desc {
	font-family: 'pantonlight';
	margin-bottom: 17px;
}
.search-completed-item-desc a {
	color: #007bbc;
	text-decoration: underline;
}
.search-completed-item-desc a:hover {
	text-decoration: none;
}
.search-completed-item-img img {
	height: 100%;
	width: 100%;
}
.search-completed-item-tags {
	color: #9a9a9a;
	font-family: 'pantonbold';
}
.search-completed-item-more-photo {
	overflow: hidden;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
}
.search-completed-item-more-photo img {
	width: 100%;
	height: 100%;
	border-right: 1px solid #e1e1e1;
}
.search-completed-item-more-photo >:last-child img {
	border-right: none;
}
.tours-list-page .popular-tours {
	margin-top: 0;
	margin-bottom: 9px;
}
.search-completed-items.lock {
	margin-top: 70px;
}
table.jCalendar,
div.dp-popup {
	background: #007cbc;
}
table.jCalendar td {
	background: #fff;
}
table.jCalendar th {
	background: #fde40e;
	color: #000;
}
div.dp-popup a,
div.dp-popup h2 {
	color: #fff;
}
.main-page-sliders {
	overflow: hidden;
}
.main-slider-left-item {
	position: relative;
	height: 355px;
}
.main-slider-left-item img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.main-slider-left-item-cont {
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    line-height: normal;
}
.main-slider-left-item-cont span {
	display: inline-block;
	padding: 3px 10px 7px 10px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-family: 'pantonlight';
	font-size: 36px;
	white-space: nowrap;
}
.main-slider-left-item-cont .btn {
	color: #000;
	margin-top: 17px;
}
.slick-dots {
	position: absolute;
	bottom: 22px;
	left: 21px;
}
.slick-dots li {
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.slick-dots li:last-child {
	margin-right: 0;
}
.slick-dots li button {
	border-radius: 50%;
	background: #ededed;
	overflow: hidden;
	text-indent: 9999px;
	width: 18px;
	height: 18px;
	border: none;
	outline: none;
}
.slick-dots .slick-active button {
	background: #ff5500;
}
.main-slider-right {
	margin-left: 13px;
}
.main-slider-right-item {
	position: relative;
	height: 355px;
}
.main-slider-right-item img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.main-slider-right-item-cont {
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    line-height: normal;
	color: #fff;
	font-family: 'pantonlight';
}
.main-slider-right-item-cont span {
	display: inline-block;
	padding: 3px 10px 7px 10px;
	background: rgba(0,0,0,0.6);
	font-size: 27px;
	white-space: nowrap;
}
.main-slider-right-item-cont div {
	font-size: 21px;
	margin-top: 6px;
}
.main-page .tour-filter-item {
	margin-right: 26px;
	width: 360px;
}
.main-page .tour-filter-item:first-child .jq-selectbox {
	width: 100%;
}
.main-page .tour-filter-item:nth-child(3) {
	margin-right: 0;
}
.main-page .tour-filter-item:nth-child(4) .jq-selectbox {
	width: 49%;
}
.main-page .popular-tours-items td {
	width: 33.33333%;
}
.tour-filter-content > div {
	display: none;
}
.tour-filter-content > div:first-child {
	display: block;
}
.tour-filter-content .tour-filter {
	margin-top: 0;
}
.tour-filter-tabs {
	margin-top: 35px;
}
.tour-filter-tabs-menu {
	font-size: 0;
}
.tour-filter-tabs-menu a {
	background: #b8e6ff;
	color: #000;
	font-size: 19px;
	display: inline-block;
	padding: 5px 20px;
	position: relative;
}
.tour-filter-tabs-menu a:before {
	content: "";
	width: 14px;
	height: 34px;
	background: url(../img/tabs-before.png) 0 0 no-repeat;
	position: absolute;
	right: -1px;
	top: 0;
}
.tour-filter-tabs-menu a:hover,
.tour-filter-tabs-menu a.current {
	text-decoration: none;
	color: #fff;
	background: #007bbc;
}
.main-page .popular-tours-items {
	margin-top: 15px;
}
.main-page .popular-tours-items h1 {
	text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}
.main-page .popular-tours-items h1 a {
	text-decoration: underline;
}
.main-page .popular-tours-items h1 a:hover {
	text-decoration: none;
}
.main-page .btn-more-tours {
	margin-bottom: 15px;
}
.main-page .popular-tours-item.small form input[type="text"] {
	width: 295px;
}
.popular-tours-item.small form .btn {
	margin-left: 28px;
}
.main-page .popular-tours-item.small span {
    display: inline-block;
    padding: 3px 10px 7px 10px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-family: 'pantonbold';
    font-size: 25px;
    white-space: nowrap;
}
.main-page .burning-tours-items {
	margin-right: -20px;
}
.main-page .burning-tours-items > div {
	padding-right: 35px;
}
.main-page .burning-tours .title a {
	text-decoration: underline;
}
.main-page .burning-tours .title a:hover {
	text-decoration: none;
}
.main-page .burning-tours-filter a {
	position: relative;
}
.main-page .burning-tours-filter a.with-flag {
    padding-left: 35px;
    padding-right: 10px;
}
.main-page .burning-tours-filter a.with-flag:before {
    content: '';
    width: 18px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/sprite.png) -66px 0;
}
.btn-more-country {
	float: right;
	text-decoration: none;
	margin-top: 10px;
}
.btn-more-country span {
	text-decoration: underline;
}
.btn-more-country:hover {
	text-decoration: none;
}
.btn-more-country:hover span {
	text-decoration: none;
}
.main-page .popular-category {
	margin-top: 50px;
}
.subtitle {
    font-family: 'pantonlight';
}
.main-page .popular-category .title {
	margin-bottom: 0;
	text-align: center;
}
.main-page .popular-category .subtitle {
	text-align: center;
	margin-bottom: 50px;
}
.main-page .popular-category-items > div {
	padding-right: 51px;
}
.main-page .popular-category-items {
	margin-right: -36px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.main-page .tours-notes .title {
	text-align: center;
	margin-bottom: 30px;
}
.search-tour-country ul {
	padding-right: 30px;
	list-style-type: none;
}
.search-tour-country ul li {
	margin-bottom: 20px;
}
.search-tour-country ul li:last-child {
	margin-bottom: 0;
}
.search-tour-country {
	margin-top: 55px;
	overflow: hidden;
}
.reviews {
	margin-top: 115px;
	margin-bottom: -24px;
}
.reviews .title {
	text-align: center;
	margin-bottom: 0;
}
.reviews .subtitle {
	margin-bottom: 55px;
	text-align: center;
}
.reviews .subtitle a {
	text-decoration: underline;
}
.reviews .subtitle a:hover {
	text-decoration: none;
}
.reviews-slider-item {
	text-align: center;
	padding: 0 35px;
	outline: none;
}
.reviews-slider-item img {
	margin: 0 auto;
	margin-bottom: 20px;
}
.reviews-slider-item > div {
    font-family: 'pantonlight';
    font-size: 17px;
}
.reviews .btn-more-tours {
	background: #42b0ea;
	margin-bottom: 0;
	margin-top: 60px;
}
.slick-arrow {
	border: none;
	position: absolute;
	background: url(../img/slick-arrow.png) 0 0 no-repeat;
	width: 23px;
	height: 43px;
	background-color: transparent;
	top: 60px;
	overflow: hidden;
	text-indent: 9999px;
	outline: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
	transform: rotate(180deg);
}
.main-page .subscription {
	padding-top: 70px;
}
.desk-hide,
.header .menu .desk-hide {
	display: none;
}
.navbar-header {
	display: none;
}
.navbar-collapse.collapse {
	display: none !important;
}
.header .menu li.dropdown ul {
	background: #007cbc;

}
.header .menu li.dropdown li {
	margin-right: 0;
	display: block;
}
.header .menu li.dropdown li a {
	padding: 5px 10px;
}
.header .menu li.dropdown li a:hover {
	display: block;
	box-shadow: none;
}
.header .menu li .caret {
	margin-left: 7px;
	margin-top: -4px;
}
.popular-tours h2,
.burning-tours h2,
.tours-notes h2 {
	font-size: 24px;
    margin-bottom: 15px;
}
.carousel-inner img{
	margin: 0 auto;
}