.preloader {
    background-image: url("/img/preloader.svg");
    background-color: rgb(66, 176, 235);
    background-repeat: repeat;
}

form span {
    float: right;
    color: red;
    margin-left: 10px;
}
